<div class="container mat-elevation-z8 table-responsive">
    <div class="d-flex">
        <mat-form-field appearance="outline" class="w-25-lg mt-3">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput [ngModel]="filter" (ngModelChange)="applyFilter($event)" #input class="fs-5">
            <button *ngIf="filter" matSuffix mat-icon-button aria-label="clear filter" (click)="applyFilter('')">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc" class="w-100">
        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
            <mat-header-cell *matHeaderCellDef
                             [mat-sort-header]="column"> {{'products.table.' + column | translate}} </mat-header-cell>
            <ng-container [ngSwitch]="column">
                <!-- name column -->
                <ng-container *ngSwitchCase="'name'">
                    <mat-cell *matCellDef="let element"> {{element[column]}} </mat-cell>
                </ng-container>

                <!-- price column -->
                <ng-container *ngSwitchCase="'price'">
                    <mat-cell *matCellDef="let element">{{element[column] | currency: 'EUR'}}</mat-cell>
                </ng-container>

                <!-- action column -->
                <ng-container *ngSwitchCase="'action'">
                    <mat-cell *matCellDef="let element">
                        <fim-table-actions [element]="element"
                                           (updateChange)="onUpdateProduct($event)"
                                           (deleteChange)="onDeleteProduct($event)">
                        </fim-table-actions>
                    </mat-cell>
                </ng-container>
            </ng-container>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell pt-3" [attr.colspan]="displayedColumns.length">
                <ng-container *ngIf="!isLoadingData; else loading">
                    <div class="d-flex justify-content-center p-2">
                        <p class="pt-2 fw-semibold">
                            <ng-container *ngIf="dataLoadErrors?.hasError;else noData">
                                {{dataLoadErrors?.errorMessage}}
                            </ng-container>
                        </p>
                    </div>
                </ng-container>
            </td>
        </tr>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of ingredients" [hidden]="isLoadingData">
    </mat-paginator>
</div>

<ng-template #loading>
    <ngx-skeleton-loader count="5" appearance="line"></ngx-skeleton-loader>
</ng-template>

<ng-template #noData>
    {{'products.table.noData' | translate: {filter: input.value} }}
</ng-template>
