<div class="container">
    <div class="row row-cols-lg-3 row-cols-1">
        <fim-homepage-card class="p-3"
                           svgIcon="ingredients"
                           title="{{'homepage.ingredients' | translate}}"
                           iconColor="#358600"
                           route="ingredients"></fim-homepage-card>
        <fim-homepage-card class="p-3"
                           svgIcon="products"
                           title="{{'homepage.products' | translate}}"
                           iconColor="#96C5F7"
                           route="products"></fim-homepage-card>
        <fim-homepage-card class="p-3"
                           svgIcon="orders"
                           title="{{'homepage.orders' | translate}}"
                           iconColor="#B07BAC"
                           route="orders"></fim-homepage-card>
    </div>
</div>