<h1 class="pt-2 fw-semibold">{{'ingredients.title' | translate}}</h1>
<button mat-raised-button color="primary" class="my-3">
    <mat-icon>add</mat-icon>
    <span>{{'ingredients.add' | translate}}</span>
</button>
<div class="container mat-elevation-z8">
    <div class="d-flex">
        <mat-form-field appearance="standard" class="w-25 ps-3">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput [ngModel]="filter" (ngModelChange)="applyFilter($event)" #input class="fs-5">
            <button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear" (click)="applyFilter('')">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <mat-table [dataSource]="dataSource" matSort class="w-100">
        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
            <mat-header-cell *matHeaderCellDef
                             [mat-sort-header]="column"> {{'ingredients.table.' + column | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element[column]}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <!-- Row shown when there is no matching data. -->
        <div class="mat-row d-flex justify-content-center" *matNoDataRow>
            <p class="pt-2 fw-semibold">{{'ingredients.table.noData' | translate: {filter: input.value} }}</p>
        </div>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
</div>
