<p class="header">
    <mat-toolbar color="primary">
        <button mat-icon-button aria-label="home icon" [routerLink]="['/']">
            <mat-icon>home</mat-icon>
        </button>
        <span class="d-none d-md-inline">{{'header.title' | translate}}</span>
        <span class="spacer"></span>
        <fim-language-selector class="fs-6 py-2 pe-2"></fim-language-selector>
        <button mat-icon-button aria-label="logout icon" (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>
</p>
