body {
  --fim-hover-color: #F2F4FF;
}

.page {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

main {
  overflow-y: auto;
}

.mat-mdc-progress-bar {
  &.fim-progress-bar {
    height: 2px;
  }
}

@media(min-width: 992px) {
  .w-25-lg {
    width: 25% !important;
  }
}
