<div class="container mat-elevation-z8 pt-2 mb-2 table-responsive">
    <mat-table [dataSource]="dataSource" matSort matSortActive="deliveryDate" matSortDirection="desc" class="w-100">
        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
            <mat-header-cell *matHeaderCellDef
                             [mat-sort-header]="column"> {{'orders.table.' + column | translate}} </mat-header-cell>
            <ng-container [ngSwitch]="column">
                <ng-container *ngSwitchCase="'action'">
                    <mat-cell *matCellDef="let element">
                        <button mat-icon-button color="primary" (click)="onUpdateOrder(element)">
                            <mat-icon>update</mat-icon>
                        </button>
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                </ng-container>
                <ng-container *ngSwitchCase="'deliveryDate'">
                    <mat-cell *matCellDef="let element">
                        {{element[column] | date: 'dd/MM/yyyy'}}</mat-cell>
                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                </ng-container>
                <ng-container *ngSwitchCase="'price'">
                    <mat-cell *matCellDef="let element">
                        {{element[column] | currency: 'EUR'}}
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef class="fw-bold">{{'orders.table.totals' | translate}}</mat-footer-cell>
                </ng-container>
                <ng-container *ngSwitchCase="'total'">
                    <mat-cell *matCellDef="let element">
                        {{element[column] | currency: 'EUR'}}
                    </mat-cell>
                    <mat-footer-cell *matFooterCellDef class="fw-bold">{{getTotalAmount() | currency: 'EUR'}}</mat-footer-cell>
                </ng-container>
                <ng-container *ngSwitchCase="'deliveryQuantity'">
                    <mat-cell *matCellDef="let element"> {{element[column]}} </mat-cell>
                    <mat-footer-cell *matFooterCellDef class="fw-bold">{{getTotalQuantity()}}</mat-footer-cell>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <mat-cell *matCellDef="let element"> {{element[column]}} </mat-cell>
                    <mat-footer-cell *matFooterCellDef></mat-footer-cell>
                </ng-container>
            </ng-container>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>

        <!-- Row shown when there is no matching data. -->
        <div class="mat-row d-flex justify-content-center" *matNoDataRow>
            <p class="pt-2 fw-semibold">{{'orders.table.noData' | translate }}</p>
        </div>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of ingredients">
    </mat-paginator>
</div>