<div class="p-lg-3">
    <h2 class="p-2">{{('products.form.' + (product ? 'updateProduct' : 'newProduct')) | translate}}</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-dialog-content>
            <div class="row">
                <mat-form-field appearance="outline" class="px-1 col-12">
                    <mat-label>{{'products.form.name' | translate}}</mat-label>
                    <input formControlName="name" type="text" matInput/>
                </mat-form-field>
            </div>
            <div formArrayName="ingredients" *ngIf="ingredients$ | async as ingredients">
                <ng-container *ngFor="let ingredientControl of ingredientsArray.controls; index as i">
                    <div class="row" [formGroupName]="i">
                        <mat-form-field appearance="outline" class="px-1 col-12 col-lg-6">
                            <mat-label>{{'products.form.ingredient' | translate}}</mat-label>
                            <mat-select formControlName="ingredient"
                                        [value]="ingredientControl.get('ingredient')?.value">
                                <mat-option *ngFor="let ingredient of ingredients"
                                            [value]="ingredient.id">{{ ingredient.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="px-1 col-6 col-lg-2">
                            <mat-label>{{'products.form.quantity' | translate}}</mat-label>
                            <input formControlName="quantity" type="number" matInput>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="px-1 col-6 col-lg-2">
                            <mat-label>{{'products.form.price' | translate}}</mat-label>
                            <input formControlName="price" type="number" matInput>
                        </mat-form-field>
                        <div class="px-1 col-12 col-lg-2 d-flex justify-content-center justify-content-lg-start">
                            <button type="button" color="primary" mat-icon-button class="px-1"
                                    (click)="onAddIngredient()">
                                <mat-icon>add</mat-icon>
                            </button>
                            <button type="button" color="primary" mat-icon-button class="px-1"
                                    (click)="onRemoveIngredient(i)"
                                    [disabled]="ingredientsArray.controls.length <= 1">
                                <mat-icon>remove</mat-icon>
                            </button>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="row">
                <mat-form-field appearance="outline" class="px-1 col-12">
                    <mat-label>{{'products.form.price' | translate}}</mat-label>
                    <input formControlName="total" type="text" matInput>
                </mat-form-field>
            </div>
        </mat-dialog-content>
        <p matDialogActions class="d-flex justify-content-center">
            <button type="submit" mat-raised-button color="primary">
                {{(product ? 'products.form.update' : 'products.form.create') | translate}}
            </button>
            <button type="button" mat-raised-button class="ms-3"
                    (click)="onClose()">{{'products.form.close' | translate}}</button>
        </p>
    </form>
</div>