<div class="register-page d-flex justify-content-center align-items-center h-100">
    <mat-card appearance="outlined">
        <mat-card-header class="d-flex justify-content-end">
            <fim-language-selector></fim-language-selector>
        </mat-card-header>
        <mat-card-title class="d-flex justify-content-center">{{'auth.register' | translate}}</mat-card-title>
        <mat-card-content>
            <fim-register-page-form></fim-register-page-form>
        </mat-card-content>
    </mat-card>
</div>
